<!-- ACCEUIL -->
<div class="h-1/3 flex flex-row bg-gradient-to-r from-gray-100 via-gray-300 to-gray-200">
    <div class="basis-1/2 flex flex-col justify-center items-center">
        <span >{{ 'Envie d\'un nouveau look?' | translate }}</span>
        <span >{{ 'Nous avons ce qu\'il vous faut.' | translate }}</span>
        <div>
            <button 
                type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                
            >
                {{ 'Jettez-y un coup d\'oeil!' | translate }}
            </button>
        </div>
    </div>
    <div class="basis-1/2 flex justify-center items-center">
        <div class="">image</div>
    </div>
</div>

<div class="h-1/3">
    <!-- PROMO -->
    <div >
        <div>carousel</div>
    </div>

    <!-- BEST SELLINGS -->
    <div >
        <div>carousel</div>
    </div>

    <!-- BLOG -->
    <div >
        <div>carousel</div>
    </div>
</div>

<!-- NEWSLETTER -->
<div class="h-1/3 bg-gradient-to-r from-gray-100 via-gray-300 to-gray-200">
    <p class="mx-4 font-manrope font-medium text-3xl leading-9 text-gray-900 text-center pt-6">{{ 'Notre bulettin d\'informations' | translate }}</p>
    <p class="text-center mb-8"><span class="absolute w-20 h-1 bg-[#e7cc96]"></span></p>
    <div class="flex text-center justify-center">
        <div>
            <p class="mx-4" >{{ 'Recevoir nos dernières nouvelles' | translate }}</p>
        </div>
        <div>
            <form (ngSubmit)="subscribeNewsLetter()" [formGroup]="alertForm" class="w-full max-w-sm mx-4">
                <div class="flex items-center border-b border-teal-500 py-2">
                    <input type="email" name="email" id="email" formControlName="email"
                        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                        type="text" placeholder="john@doe.ca">
                    <button
                        class="flex-shrink-0 border-[#e7cc96] text-sm border-4 text-white hover:text-teal-800 py-1 px-2 rounded bg-[#e7cc96]"
                        type="submit" 
                    >
                        {{ 'Rejoindre' | translate }}
                    </button>
                </div>
                <span *ngIf="emailEmpty()" class="text-xs font-light text-red-500" style="margin: 0px;" >
                    {{ 'Veuillez saisir un email.' | translate }}</span>
                <span *ngIf="emailFormat()" class="text-xs font-light text-red-500" style="margin: 0px;" >
                    {{ 'Format email invalide!' | translate }}</span>
                <span *ngIf="emailLength()" class="text-xs font-light text-red-500" style="margin: 0px;" >
                    {{ 'Vous avez dépassé la taille maximale de 60 caractères' | translate }}.</span>
            </form>
        </div>
    </div>
</div>
