@if (isOpen) {
    <div class="fixed inset-0 z-10 bg-black opacity-70"></div>

    <!-- Create/Edit -->
    <div class="mt-22 overflow-y-auto overflow-x-hidden fixed z-20 flex justify-center items-center w-full md:inset-0 h-9/10 max-h-full">
        <div class="relative max-h-full w-full max-w-2xl p-4">
            <!-- Modal content -->
            <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
                <!-- Modal header -->
                <div class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5">
                    
                        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
                            @if (forCreation) {
                                {{'Créer un avis' | translate}}
                            }
                            @else {
                               {{'Modifier votre avis' | translate}}
                            }
                    </h3>
                    
                    <button (click)="closeReviewFormModal()" class="absolute right-5 top-5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="editReviewModal">
                        <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 md:p-5" [formGroup]="reviewForm" (ngSubmit)="submit()">
                    <div class="mb-4 grid grid-cols-2 gap-4">
                        <div class="col-span-2">
                            <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">{{'Note' | translate}}</label>
                            <div class="flex items-center">
                                
                                <div class="flex items-center space-x-1">
                                    <button 
                                        type="button"
                                        *ngFor="let star of stars"
                                        (click)="setRating(star)"
                                        class="transition-colors duration-200 focus:outline-none"
                                        [class.text-yellow-300]="star <= currentRating"
                                        [class.text-gray-300]="star > currentRating"
                                        [class.dark:text-gray-500]="star > currentRating"
                                    >
                                        <svg class="h-8 w-8 fill-current" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                        </svg>
                                    </button>
                                </div>

                                <span class="ms-2 text-lg font-bold text-gray-900 dark:text-white">{{ currentRating }} / 5</span>
                            </div>
                        </div>
                        <div class="col-span-2">
                            <label for="content" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">{{'Description de l\'avis' | translate}}</label>
                            <textarea formControlName="content" id="content" rows="6" class="mb-2 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" required=""></textarea>
                        </div>
                    </div>
                    <div class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5">
                        <button type="submit"
                            [disabled]="reviewForm.invalid"
                            class="me-2 inline-flex items-center disabled:bg-blue-400 rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >
                            @if (forCreation) { {{'Créer' | translate}} }
                            @else { {{'Modifier' | translate}} }
                        </button>
                        <button type="button" (click)="closeReviewFormModal()" class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">{{"Annuler" | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

