--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: address; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.address (
    id integer NOT NULL,
    city character varying(255) NOT NULL,
    province character varying(255) NOT NULL,
    zipcode character varying(255) NOT NULL,
    country character varying(255) NOT NULL,
    fulladdress character varying(255) NOT NULL,
    appnumber character varying(5) DEFAULT NULL::character varying
);


ALTER TABLE public.address OWNER TO miandabou;

--
-- Name: address_id_seq; Type: SEQUENCE; Schema: public; Owner: miandabou
--

CREATE SEQUENCE public.address_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.address_id_seq OWNER TO miandabou;

--
-- Name: address_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: miandabou
--

ALTER SEQUENCE public.address_id_seq OWNED BY public.address.id;


--
-- Name: coupons; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.coupons (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    value character varying(10) DEFAULT NULL::character varying,
    rate integer,
    expiration_date date NOT NULL,
    timecreated timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.coupons OWNER TO miandabou;

--
-- Name: coupons_id_seq; Type: SEQUENCE; Schema: public; Owner: miandabou
--

CREATE SEQUENCE public.coupons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.coupons_id_seq OWNER TO miandabou;

--
-- Name: coupons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: miandabou
--

ALTER SEQUENCE public.coupons_id_seq OWNED BY public.coupons.id;


--
-- Name: doctrine_migration_versions; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.doctrine_migration_versions (
    version character varying(191) NOT NULL,
    executed_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    execution_time integer
);


ALTER TABLE public.doctrine_migration_versions OWNER TO miandabou;

--
-- Name: items; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.items (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    category character varying(255) NOT NULL,
    price character varying(10) NOT NULL,
    quantity integer NOT NULL,
    picture character varying(200) DEFAULT NULL::character varying,
    contenthash character varying(255) DEFAULT NULL::character varying,
    video character varying(255) DEFAULT NULL::character varying,
    timecreated timestamp(0) without time zone NOT NULL,
    timemodified timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.items OWNER TO miandabou;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: miandabou
--

CREATE SEQUENCE public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_id_seq OWNER TO miandabou;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: miandabou
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    client_id integer NOT NULL,
    total character varying(10) NOT NULL,
    timecreated timestamp(0) without time zone NOT NULL,
    ordercode character varying(255) NOT NULL,
    expecteddateshipping date,
    communicationchannel character varying(255) NOT NULL
);


ALTER TABLE public.orders OWNER TO miandabou;

--
-- Name: orders_address; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.orders_address (
    orders_id integer NOT NULL,
    address_id integer NOT NULL
);


ALTER TABLE public.orders_address OWNER TO miandabou;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: miandabou
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO miandabou;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: miandabou
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: orders_items; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.orders_items (
    orders_id integer NOT NULL,
    items_id integer NOT NULL,
    id integer NOT NULL,
    quantity_buy integer NOT NULL,
    item_price character varying(20) NOT NULL
);


ALTER TABLE public.orders_items OWNER TO miandabou;

--
-- Name: orders_items_id_seq; Type: SEQUENCE; Schema: public; Owner: miandabou
--

CREATE SEQUENCE public.orders_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_items_id_seq OWNER TO miandabou;

--
-- Name: orders_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: miandabou
--

ALTER SEQUENCE public.orders_items_id_seq OWNED BY public.orders_items.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    firstname character varying(255) NOT NULL,
    lastname character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    phonenumber character varying(20) DEFAULT NULL::character varying,
    roles json NOT NULL,
    picture character varying(200) DEFAULT NULL::character varying,
    contenthash character varying(255) DEFAULT NULL::character varying,
    timecreated timestamp(0) without time zone NOT NULL,
    timemodified timestamp(0) without time zone NOT NULL,
    lastlogin timestamp(0) without time zone,
    date_of_birth date NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.users OWNER TO miandabou;

--
-- Name: users_address; Type: TABLE; Schema: public; Owner: miandabou
--

CREATE TABLE public.users_address (
    users_id integer NOT NULL,
    address_id integer NOT NULL
);


ALTER TABLE public.users_address OWNER TO miandabou;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: miandabou
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO miandabou;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: miandabou
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: address id; Type: DEFAULT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.address ALTER COLUMN id SET DEFAULT nextval('public.address_id_seq'::regclass);


--
-- Name: coupons id; Type: DEFAULT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.coupons ALTER COLUMN id SET DEFAULT nextval('public.coupons_id_seq'::regclass);


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: orders_items id; Type: DEFAULT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders_items ALTER COLUMN id SET DEFAULT nextval('public.orders_items_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: address; Type: TABLE DATA; Schema: public; Owner: miandabou
--

COPY public.address (id, city, province, zipcode, country, fulladdress, appnumber) FROM stdin;
\.


--
-- Data for Name: coupons; Type: TABLE DATA; Schema: public; Owner: miandabou
--

COPY public.coupons (id, name, value, rate, expiration_date, timecreated) FROM stdin;
1	summer promo	10.4	\N	2025-07-30	2025-07-24 15:30:00
2	spring promo	\N	20	2025-07-30	2025-07-24 15:35:00
3	winter promo	\N	50	2025-07-23	2025-07-20 13:52:00
\.


--
-- Data for Name: doctrine_migration_versions; Type: TABLE DATA; Schema: public; Owner: miandabou
--



--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: miandabou
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: miandabou
--

COPY public.orders (id, client_id, total, timecreated, ordercode, expecteddateshipping, communicationchannel) FROM stdin;
\.


--
-- Data for Name: orders_address; Type: TABLE DATA; Schema: public; Owner: miandabou
--

COPY public.orders_address (orders_id, address_id) FROM stdin;
\.


--
-- Data for Name: orders_items; Type: TABLE DATA; Schema: public; Owner: miandabou
--

COPY public.orders_items (orders_id, items_id, id, quantity_buy, item_price) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: miandabou
--



--
-- Data for Name: users_address; Type: TABLE DATA; Schema: public; Owner: miandabou
--

COPY public.users_address (users_id, address_id) FROM stdin;
\.


--
-- Name: address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: miandabou
--

SELECT pg_catalog.setval('public.address_id_seq', 22, true);


--
-- Name: coupons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: miandabou
--

SELECT pg_catalog.setval('public.coupons_id_seq', 1, false);


--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: miandabou
--

SELECT pg_catalog.setval('public.items_id_seq', 43, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: miandabou
--

SELECT pg_catalog.setval('public.orders_id_seq', 17, true);


--
-- Name: orders_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: miandabou
--

SELECT pg_catalog.setval('public.orders_items_id_seq', 8, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: miandabou
--

SELECT pg_catalog.setval('public.users_id_seq', 15, true);


--
-- Name: address address_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.address
    ADD CONSTRAINT address_pkey PRIMARY KEY (id);


--
-- Name: coupons coupons_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_pkey PRIMARY KEY (id);


--
-- Name: doctrine_migration_versions doctrine_migration_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.doctrine_migration_versions
    ADD CONSTRAINT doctrine_migration_versions_pkey PRIMARY KEY (version);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: orders_address orders_address_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders_address
    ADD CONSTRAINT orders_address_pkey PRIMARY KEY (orders_id, address_id);


--
-- Name: orders_items orders_items_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders_items
    ADD CONSTRAINT orders_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: users_address users_address_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.users_address
    ADD CONSTRAINT users_address_pkey PRIMARY KEY (users_id, address_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_a0b446ec6bb0ae84; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE INDEX idx_a0b446ec6bb0ae84 ON public.orders_items USING btree (items_id);


--
-- Name: idx_a0b446eccffe9ad6; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE INDEX idx_a0b446eccffe9ad6 ON public.orders_items USING btree (orders_id);


--
-- Name: idx_e52ffdee19eb6921; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE INDEX idx_e52ffdee19eb6921 ON public.orders USING btree (client_id);


--
-- Name: idx_fc3b1dfacffe9ad6; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE INDEX idx_fc3b1dfacffe9ad6 ON public.orders_address USING btree (orders_id);


--
-- Name: idx_fc3b1dfaf5b7af75; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE INDEX idx_fc3b1dfaf5b7af75 ON public.orders_address USING btree (address_id);


--
-- Name: idx_fd4e1b4b67b3b43d; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE INDEX idx_fd4e1b4b67b3b43d ON public.users_address USING btree (users_id);


--
-- Name: idx_fd4e1b4bf5b7af75; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE INDEX idx_fd4e1b4bf5b7af75 ON public.users_address USING btree (address_id);


--
-- Name: uniq_1483a5e9e7927c74; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE UNIQUE INDEX uniq_1483a5e9e7927c74 ON public.users USING btree (email);


--
-- Name: uniq_1483a5e9f85e0677; Type: INDEX; Schema: public; Owner: miandabou
--

CREATE UNIQUE INDEX uniq_1483a5e9f85e0677 ON public.users USING btree (username);


--
-- Name: orders_items fk_a0b446ec6bb0ae84; Type: FK CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders_items
    ADD CONSTRAINT fk_a0b446ec6bb0ae84 FOREIGN KEY (items_id) REFERENCES public.items(id);


--
-- Name: orders_items fk_a0b446eccffe9ad6; Type: FK CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders_items
    ADD CONSTRAINT fk_a0b446eccffe9ad6 FOREIGN KEY (orders_id) REFERENCES public.orders(id);


--
-- Name: orders fk_e52ffdee19eb6921; Type: FK CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_e52ffdee19eb6921 FOREIGN KEY (client_id) REFERENCES public.users(id);


--
-- Name: orders_address fk_fc3b1dfacffe9ad6; Type: FK CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders_address
    ADD CONSTRAINT fk_fc3b1dfacffe9ad6 FOREIGN KEY (orders_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: orders_address fk_fc3b1dfaf5b7af75; Type: FK CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.orders_address
    ADD CONSTRAINT fk_fc3b1dfaf5b7af75 FOREIGN KEY (address_id) REFERENCES public.address(id) ON DELETE CASCADE;


--
-- Name: users_address fk_fd4e1b4b67b3b43d; Type: FK CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.users_address
    ADD CONSTRAINT fk_fd4e1b4b67b3b43d FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users_address fk_fd4e1b4bf5b7af75; Type: FK CONSTRAINT; Schema: public; Owner: miandabou
--

ALTER TABLE ONLY public.users_address
    ADD CONSTRAINT fk_fd4e1b4bf5b7af75 FOREIGN KEY (address_id) REFERENCES public.address(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

